#title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#title p {
  padding: 14px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #d12280, #ff4b4b);
  color: #fff;
  font-weight: 900;
}

.alert {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* top: 18%; */
  top: 50%;
  left: 50%;
  gap: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 14px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 25px;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #ff4b4be0, #d1227fe0);
  color: #fff;
  font-weight: 900;
}

.hidden {
  display: none;
}

.icono-btn {
  padding: 0;
  margin: 0;
  background-color: #00eeff00;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.icono-btn:hover {
  transform: scale(1.4) rotate(-180deg);
}

.icono-btn span {
  color: #00ffff;
  font-size: 40px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}


#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#board {
  /* width: 245px;
  height: 245px; */
  width: 15.5rem;
  height: 15.5rem;
  border: 2.5px solid #00ffff;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 15px 15px;
  opacity: 1;
  transition: opacity 1s;
}

#board img {
  flex-basis: 25%;
  flex-grow: 0;
  width: 5rem;
  /* width: 79px;
  height: 79px; */
  border: 0.5px solid rgb(196, 196, 196);
}

#pieces {
  /* width: 245px;
  height: 245px; */
  width: 15.5rem;
  height: 15.5rem;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s;
}

#pieces img {
  flex-basis: 25%;
  flex-grow: 0;
  width: 5rem;
  /* width: 79px;
  height: 79px; */
  border: 0.5px solid rgb(196, 196, 196);
}

.piece:hover {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px) translateX(2px); */
  cursor: move;
}

.originalImage {
  width: 15.3rem !important;
  height: 15.3rem !important;
  /* width: 241px !important;
  height: 241px !important; */
}

#dragImage {
  position: absolute;
  pointer-events: none;
  display: none;
  width: 79px;
  height: 79px;
  border: 0.5px solid rgb(196, 196, 196);
}

#arrow {
  width: 50px;
  height: 50px;
  animation: mover 1.5s infinite linear;
  opacity: 1;
  transition: opacity 1s;
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes mover2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 620px) {
  #arrow {
    /* display: none; */
    width: 15px;
    height: 15px;
    animation: mover2 1.5s infinite linear;
  }
  #container {
    gap: 5px;
    align-items: center;
  }
  #pieces,
  #board {
    /* width: 155px;
    height: 155px; */
    width: 9.8rem;
    height: 9.8rem;
  }
  #pieces img {
    /* width: 49px;
    height: 49px; */
    width: 3.1rem;
  }
  #board img {
    /* width: 49px;
    height: 49px; */
    width: 3.1rem;
  }
  .originalImage {
    /* width: 151px !important;
    height: 151px !important; */
    width: 9.7rem !important;
  height: 9.7rem !important;
  }
  #dragImage {
    width: 49px;
    height: 49px;
    border: 0.5px solid rgb(196, 196, 196);
  }
  .alert {
  /* top: 13%; */
  top: 13%;
  font-size: 16px;
}
}
